<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Actualiza</title>
</head>
<body>

	<h2>Actualizar mascota</h2>
	<hr />
	
	<form action="#" th:action="@{/mascota/update}" th:object="${mascota}" method="POST">
	
		
		<input type="hidden" id="id" th:field="*{id}" />
		
		<label>Nombre</label>
		<input type="text" id="nombre" th:field="*{nombre}">
		<br/>
		
		<label>Chip</label>
		<input type="text" id="chip" th:field="*{chip}">
		<br/>
		
		<label>Esta vacunado?</label>
		<input type="checkbox" id="vacunado" th:field="*{vacunado}"  th:checked="${mascota.isVacunado()}"/>
		<br/>
		
		<label>Amo</label>
		<select th:field="*{amo}">
		    <option th:each="p : ${personas}" th:value="${p.getId()}" th:text="${p.getNombre()}"></option>
		</select>
		<br/>
		
		<button type="submit">Actualizar</button>
	</form>
	
	<a href="/persona">Volver al listado</a>
	
</body>
</html>