<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Personas</title>
</head>
<body>
	<h2>Detalles <span th:text="${persona.getNombre()}"></span></h2>
	<hr />
	
	<table border="1" style="width:300px">
		<tr>
		<td>DNI: </td>
			<td><p th:text="${persona.getDni()}"></p></td>
		</tr>
	</table>
	
	<br/>
	
	<table border="1" style="width:300px">
		<tr>
			<td colspan="3">Sus mascotas</td>
		</tr>
		<tr th:each="m : ${mascotas}">
			<td>Chip: <span th:text="${m.getChip()}"></span></td>
			<td>Nombre: <span th:text="${m.getNombre()}"></span></td>
			<td>Vacunado: <span th:if="${m.isVacunado()}">Si</span><span th:if="${!m.isVacunado()}">No</span></td>
		</tr>
	</table>
	
	<br/>
	
	<a href="/persona">Volver al listado</a>
	
</body>
</html>