<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Personas</title>
</head>
<body>
	<h2>Listado de personas</h2>
	<hr />
	
	<table border="1" style="width:300px">
	    <tr>
	        <th colspan="5">Personas</th>
	    </tr>
		<tr th:each="p : ${personas}">
		   <td><p th:text="${p.getDni()}"></p></td>
	   	   <td><p th:text="${p.getNombre()}"></p></td>
	   	   <td><a th:href="@{/persona/details/{id}(id=${p.getId()})}">Detalles</a></td>
	   	   <td><a th:href="@{/persona/update/{id}(id=${p.getId()})}">Update</a></td>
 	   	   <td><a th:href="@{/persona/delete/{id}(id=${p.getId()})}">Delete</a></td>
		</tr>
	
	</table>
	<a th:href="@{/persona/busqueda}">Buscar persona</a>
	<a th:href="@{/persona/create}">Crear nueva persona</a>
	<a th:href="@{/menuFromPersona}">Menu principal</a>
</body>
</html>