<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Actualiza</title>
</head>
<body>

	<h2>Actualizar persona</h2>
	<hr />
	
	<form action="#" th:action="@{/persona/update}" th:object="${persona}" method="POST">
	
		
		<input type="hidden" id="id" th:field="*{id}" />
		
		<label>Nombre</label>
		<input type="text" id="nombre" th:field="*{nombre}">
		<br/>
		
		<label>Dni</label>
		<input type="text" id="dni" th:field="*{dni}">
		<br/>
		<button type="submit">Actualizar</button>
	</form>
	
	<a href="/persona">Volver al listado</a>
	
</body>
</html>